<div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" (click)="currentPage=currentPage - images.length + 1"
          [ngClass]="{disabled: currentPage==0}">First</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" (click)="currentPage=currentPage-1"
          [ngClass]="{disabled: currentPage==0}">Previous</a>
      </li>
      
      <ng-container *appTimes="images.length; let i = index">
        <li class="page-item" *ngIf="checkWindowsIndex(i)" (click)="currentPage=i" [ngClass]="onActiveClass(i)" >
        <a class="page-link" href="#">{{i+1}}</a>
        </li>
      </ng-container>


      <li class="page-item">
        <a class="page-link" href="#" (click)="currentPage=currentPage+1"
          [ngClass]="{disabled: currentPage===images.length-1}">Next</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" (click)="currentPage=currentPage + images.length-1"
          [ngClass]="{disabled: currentPage===images.length-1}">Last</a>
      </li>
    </ul>
  </nav>


  <div style="margin-left: 40%;">
    <h3>{{images[currentPage].title}}</h3>
    <img [src]="images[currentPage].url" [alt]="images[currentPage].title" style="max-width: 300px">
  </div>
</div>

  
<!-- <p *ngIf="currentPage == 0; else template"> not changed</p>

<ng-template #template>
  <p>page changed</p>
</ng-template> -->

<h2 appClass [backgroundColor]="'red'" *appTimes="2">Hellow World</h2>

<div [ngSwitch]="currentPage">
  <p *ngSwitchCase="0" >this page is zero</p>
  <p *ngSwitchCase="1">this page is one</p>
  <p *ngSwitchDefault >this page is default</p>
</div>